{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
click on the ticket you want to assign it to a new user .
 <ul class="list-group">
    {% for ticket in tickets %}
    
  <li class="list-group-item">
 {{ticket.title}} 
 <form method="post" action="{{ path('add_assignment', {'id_ticket': ticket.id,'id_user': user.id}) }}" onsubmit="return confirm('Are you sure you want to enable {{user.firstname}} {{user.lastname}} to see the ticket ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('add' ~ ticket.id) }}">
    <button class="btn btn-outline-warning mr-3">assign user to this ticket</button>
</form>
 </li>
    {% endfor %}
    </ul>
{% endblock %}
