{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}

<a href={{ path('new_ticket') }} class="btn btn-primary btn-lg btn-block mt-5 mb-5">Create a new ticket</a>

{% if is_granted('ROLE_ADMIN') %}

<div class="card text-center">
  <div class="card-body">
    <b>Here is the list of all the tickets : There is actually {{tickets|length}} tickets .</b>
  </div>
</div>





<div class="row">
{% for ticket in tickets %}

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
      <div class="card-header mt-3 mb-4">
    <a href="{{ path('ticket_edit', {'id': ticket.id}) }}" class="btn btn-outline-secondary mr-3 mt-4">Edit the ticket</a>
    <div class="mt-3">
         <form method="post" action="{{ path('ticket_supress', {'id': ticket.id}) }}" onsubmit="return confirm('Are you sure you want to delete the ticket?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ticket.id) }}">
    <button class="btn btn-outline-danger mr-3">Suppress the ticket</button>
</form>
{% if ticket.status is constant('open',ticket) %}
 <a href="{{ path('ticket_resolve', {'id': ticket.id}) }}" class="btn btn-outline-success mr-3 mt-4">Mark the ticket as done</a>
{% else %}
 <a href="{{ path('ticket_reopen', {'id': ticket.id}) }}" class="btn btn-warning mr-3 mt-4">Reopen the ticket</a>
{% endif %}

 </div>
  </div>
        <h5 class="card-title">{{ticket.title}}</h5>
        <p class="card-text">{{ticket.description}}</p>
    <a href={{ path('ticket_show',{id:ticket.id}) }} class="btn btn-primary mt-3 mb-3">Go see the ticket</a>
    <div class="card-footer text-muted">
    {{ticket.createdAt|date("m/d/Y")}}
    {% if ticket.status is constant('open',ticket) %}
    statut : en cours
    {% else %}
      statut : Fermé
    {% endif %}
  
  </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>



{% else %}
<div class="card">
  <div class="card-body">
    Here is the tickets you are the author
  </div>
</div>


<div class="row">
{% for ticket in tickets %}
   <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
             <h5 class="card-title">{{ticket.title}}</h5>
        <p class="card-text">{{ticket.description}}</p>
    <a href={{ path('ticket_show',{id:ticket.id}) }} class="btn btn-primary mt-3 mb-3">Go see the ticket</a>
    <div class="card-footer text-muted">
    {{ticket.createdAt|date("m/d/Y")}}
    {% if ticket.status is constant('open',ticket) %}
    statut : en cours
    {% else %}
      statut : Fermé
    {% endif %}
  </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>

<div class="card">
  <div class="card-body">
    Here is the tickets you are assign to 
  </div>
</div>

<div class="row">
{% for ticket in ticketAssigns %}
   <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
             <h5 class="card-title">{{ticket.title}}</h5>
        <p class="card-text">{{ticket.description}}</p>
    <a href={{ path('ticket_show',{id:ticket.id}) }} class="btn btn-primary mt-3 mb-3">Go see the ticket</a>
    <div class="card-footer text-muted">
    {{ticket.createdAt|date("m/d/Y")}}
    {% if ticket.status is constant('open',ticket) %}
    statut : en cours
    {% else %}
      statut : Fermé
    {% endif %}
  </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endif %}



{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/indexTicket.css') }}" />
{% endblock %}