{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ticket.title}} </h1>
<div class="card">
  <div class="card-body description">
    Description : {{ticket.description}}
  </div>
</div>

{% if is_granted('ROLE_ADMIN') %}
<div class="mt-3 mb-3">
{% if ticket.status is constant('open',ticket) %}
 <a href="{{ path('ticket_resolve', {'id': ticket.id}) }}" class="btn btn-outline-success mr-3 mt-4">Mark the ticket as done</a>
{% else %}
 <a href="{{ path('ticket_reopen', {'id': ticket.id}) }}" class="btn btn-warning mr-3 mt-4">Reopen the ticket</a>
{% endif %}
{% if ticket.status is constant('open',ticket) %}
Le ticket est actuellement ouvert .
{% else %}
Le ticket est actuellement fermé .
{% endif %}

</div>
Il y'a {{ticket.ticketsAssignment|length}} utilisateurs assignés à ce ticket , ce sont {% for user in ticket.ticketsAssignment %}
    le user {{user.firstname}} {{user.lastname}} {% if loop.last == false %},{% endif %}
{% endfor %}.
   
{% for message in messages %}

   
<div class="{% if loop.index is odd%}container{% else %}container darker{% endif %}">
<div class="card-header mt-3 mb-2">
    <form method="post" action="{{ path('message_supress', {'id': message.id}) }}" onsubmit="return confirm('Are you sure you want to delete the message?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
    <button class="btn btn-danger mr-3">Suppress the message</button>
</form>

        <a href={{ path('message_edit',{id:message.id}) }} class="btn btn-warning">edit</a>

  </div>
  <div class="card mb-5" style="width: 18rem;">
  
  <div class="card-body">
  {{message.user.firstname}}
  {{message.user.lastname}}

  </div>
  </div>
  <p>{{message.content}}</p>
  {% if message.ressource != null %}
  <a href={{ asset('uploads/' ~ message.ressource) }}>
{{message.ressource}}
  </a>
  {% endif %}
  
  <span class="time-right">{{message.createdAt|date('m/d/Y')}} at {{message.createdAt|date('h:i:s A')}}</span>
</div>
{% endfor %}

{% else %}
{% for message in messages %}

   
<div class="{% if loop.index is odd%}container{% else %}container darker{% endif %}">
  <div class="card mb-5" style="width: 18rem;">
  <div class="card-body">
  {{message.user.firstname}}
  {{message.user.lastname}}

  </div>
  </div>
  <p>{{message.content}}</p>
  {% if message.ressource != null %}
  <a href={{ asset('uploads/' ~ message.ressource) }}>
{{message.ressource}}
  </a>
  {% endif %}
  
  <span class="time-right">{{message.createdAt|date('m/d/Y')}} at {{message.createdAt|date('h:i:s A')}}</span>
</div>
{% endfor %}

{% endif %}
{% if (ticket.status is constant('open',ticket) or is_granted('ROLE_ADMIN')  )%}



{{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('send') }}</button>
    {{ form_end(form) }}

    {% endif %}

{% endblock %}




{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/message.css') }}" />
{% endblock %}



