{% extends 'base.html.twig' %}

{% block title %}edition Ticket{% endblock %}

{% block body %}
<pre>
   
</pre>
Un ticket de {{ticket.author}}

{{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('save the ticket') }}</button>
    {{ form_end(form) }}

    {% endblock %}